---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import Horizonte from "../components/Horizonte.astro";
import Perfiles from "../components/Perfiles.astro";
---

<MainLayout
  title="Inicio"
  description="Bienvenidos a la Institución Educativa Capilla del Rosario. Conozca nuestro horizonte institucional, perfiles educativos y compromiso con la excelencia académica y humana."
>
  <Navbar />

  <main>
    <Horizonte />
    <Perfiles />
  </main>

  <Footer />
</MainLayout>
